* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
}

body {
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    font-family: Lato;
    overflow-x: hidden;
}

.big-container {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container-small {
    max-width: 1000px;
}

.title {
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.75px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0;
    .left {
        color: #333740;
        font-family: "Raleway - Extra Bold";
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 22px;
        position: relative;
        padding-right: 13px;
    }
    .left::after {
        content: "";
        position: absolute;
        display: block;
        border-left: 1px solid #18a3dd;
        height: 40px;
        top: 0;
        right: 0;
    }
    .right {
        padding-left: 12px;
    }
}

.subtitle {
    color: #83888f;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-align: center;
    margin-top: 26px;
}

li {
    list-style: none;
}

.active {
    display: block!important;
}

.active__ingridients {
    .ingredients__list-item-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu__active {
    right: 150px!important;
}