@import "fonts";
@import "global";
.header {
    padding: 27px 0 48px 0;
    height: 882px;
    position: relative;
    background-repeat: no-repeat;
    background-position: top 299px right 125px;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__menu-icon {
    background-image: url("../img/header-menu-icon.png");
    width: 35px;
    height: 29px;
    cursor: pointer;
}

.header__block {
    position: absolute;
    top: 412px;
    left: 0;
    width: 440px;
    height: 305px;
}

.header__title {
    color: #333740;
    font-family: "Raleway - Heavy";
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 50px;
}

.header__subtitle {
    font-family: "Raleway - Extra Bold";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 400;
}

.header__title-block {
    border-left: 5px solid #18a3dd;
}

.header__block-text {
    color: #666666;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    margin-top: 73px;
}

.header__block-bottom {
    margin-top: 48px;
}

.header__block-button {
    width: 180px;
    height: 50px;
    border-radius: 40px;
    background-color: #18a3dd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
}

.header__video-link {
    margin-left: 27px;
    color: #333740;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
}

.description {
    position: relative;
    height: 525px;
}

.description__center-block {
    position: absolute;
    top: 123px;
    background-color: #0f0816;
    height: 350px;
    width: 100%;
}

.description__image {
    position: absolute;
    left: -210px;
}

.description__items {
    display: flex;
    justify-content: space-between;
    width: 731px;
    position: absolute;
    right: 60px;
    top: 117px;
}

.description__item-number {
    color: #ffffff;
    font-family: "Lato - Black";
    font-size: 72px;
    padding-left: 27px;
    position: relative;
    line-height: 55px;
    &:after {
        position: absolute;
        top: 6px;
        left: 0;
        content: "";
        height: 50px;
        width: 5px;
        background-color: #18a3dd;
    }
}

.description__item-text {
    span {
        color: #18a3dd;
        font-family: "Lato";
        font-weight: 700;
    }
    margin-top:25px;
    color: #a9a9a9;
    font-family: "Lato";
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 24px;
}

.features {
    padding-top: 67px;
}

.feature__items {
    margin: 73px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.feature__item {
    width: 256px;
    height: 90px;
}

.feature__items-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 63px 0 110px 0;
}

.feature__item-title {
    color: #333740;
    font-family: Raleway;
    font-size: 20px;
    line-height: 15px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.items-left {
    .feature__item-title {
        text-align: right;
        padding-right: 27px;
        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 5px;
            height: 35px;
            background-color: #18a3dd;
        }
    }
}

.items-right {
    .feature__item-title {
        text-align: left;
        padding-left: 27px;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 5px;
            height: 35px;
            background-color: #18a3dd;
        }
    }
}

.feature__item-text {
    margin-top: 30px;
    color: #5b5f64;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
}

.real-man {
    padding: 120px 0;
}

.real-man__sliders-block {
    width: 760px;
    margin: 78px auto 0 auto;
    display: flex;
}

@import "slider";
.testimonials {
    background-color: #0f0816;
    background-image: url('../img/testimonials-bg.png');
    height: 606px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
}

.testimonials-slider {
    margin: 75px auto 0 auto;
    width: 735px;
}

.testimonials__title {
    color: #e5e5e5;
    .left {
        color: #e5e5e5;
    }
}

.slider-item__testimonial {
    color: #a9a9a9;
    font-family: "Raleway - Light";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 735px;
}

.slider-item__bottom-line {
    display: flex;
    justify-content: center;
    margin: 32px auto 0 auto;
}

.slider-item__photo {
    width: 65px;
    height: 73px;
    margin-right: 28px;
}

.slider-item__name {
    margin-top: 7px;
    color: #e5e5e5;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.slider-item__location {
    font-family: "Raleway - Light";
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: 36px;
        height: 5px;
        background-color: #18a3dd;
        top: 29px;
        left: 0;
        border-radius: 3px;
    }
}

.testimonials-slider__item {
    outline: none;
}

.testimonials-slider__dots {
    width: 83px;
    margin: 047px auto 0 auto;
    li {
        background-color: #342e3a;
    }
}