@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
@font-face {
  font-family: 'Raleway - Heavy';
  src: url("../fonts/Raleway-Heavy.ttf"); }

@font-face {
  font-family: "Raleway - Light";
  src: url("../fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: "Lato Light";
  src: url("../fonts/lato-light.ttf"); }

@font-face {
  font-family: "Raleway - Bold";
  src: url("../fonts/Raleway-Bold.ttf"); }

@font-face {
  font-family: 'Raleway - Extra Bold';
  src: url("../fonts/Raleway-ExtraBold.ttf"); }

@font-face {
  font-family: "Lato - Black";
  src: url("../fonts/Lato-Black.ttf"); }

@font-face {
  font-family: "Lato - Bold";
  src: url("../fonts/Raleway-Bold.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

h1 {
  margin: 0; }

body {
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  letter-spacing: normal;
  font-family: Lato;
  overflow-x: hidden; }

.big-container {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.container-small {
  max-width: 1000px; }

.title {
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.75px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0; }
  .title .left {
    color: #333740;
    font-family: "Raleway - Extra Bold";
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    position: relative;
    padding-right: 13px; }
  .title .left::after {
    content: "";
    position: absolute;
    display: block;
    border-left: 1px solid #18a3dd;
    height: 40px;
    top: 0;
    right: 0; }
  .title .right {
    padding-left: 12px; }

.subtitle {
  color: #83888f;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-top: 26px; }

li {
  list-style: none; }

.active {
  display: block !important; }

.active__ingridients .ingredients__list-item-inner {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.menu__active {
  right: 150px !important; }

.inquire__form-top-row input {
  min-width: 0; }

.header {
  padding: 27px 20px 48px 20px;
  min-height: 882px;
  position: relative;
  background-repeat: no-repeat;
  background-position: top 299px right 125px; }

.header__menu {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  right: -1500px;
  background-color: #0f0816;
  background-color: rgba(15, 8, 22, 0);
  max-height: 800px;
  max-width: 700px;
  width: 100%;
  color: white;
  padding: 5px;
  transition: all 0.5s; }
  .header__menu a {
    width: 100%; }

.header__menu-item {
  flex-shrink: 1;
  flex-grow: 1;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #18a3dd;
  font-size: 20px;
  transition: all 0.5s;
  margin-left: 10px; }
  .header__menu-item:hover {
    background-color: white;
    color: black;
    border: 4px solid #0f0816; }

.header__top {
  padding: 0 80px 0 80px;
  position: fixed;
  width: 100%;
  max-width: 1900px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  background-color: white; }

.header__menu-icon {
  cursor: pointer; }

.header__block {
  margin-top: 300px;
  max-width: 440px;
  width: 100%; }

.header__title {
  color: #333740;
  font-family: "Raleway - Heavy";
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase; }

.header__subtitle {
  font-family: "Raleway - Extra Bold";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  font-size: 24px;
  font-weight: 400; }

.header__title-block {
  border-left: 5px solid #18a3dd;
  padding-left: 50px; }

.header__block-text {
  color: #666666;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  margin-top: 73px; }

.header__block-bottom {
  margin-top: 48px; }

.header__block-button {
  max-width: 180px;
  width: 100%;
  height: 50px;
  border-radius: 40px;
  background-color: #18a3dd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700; }

.header__video-link {
  margin-left: 27px;
  color: #333740;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700; }

.description {
  position: relative;
  height: 525px; }

.description__center-block {
  position: absolute;
  top: 123px;
  background-color: #0f0816;
  height: 350px;
  width: 100%; }

.description__image {
  position: absolute;
  left: -210px; }

.description__items {
  display: flex;
  justify-content: space-between;
  max-width: 731px;
  width: 100%;
  position: absolute;
  right: 60px;
  top: 117px; }

.description__item-number {
  color: #ffffff;
  font-family: "Lato - Black";
  font-size: 72px;
  padding-left: 27px;
  position: relative;
  line-height: 55px; }
  .description__item-number:after {
    position: absolute;
    top: 6px;
    left: 0;
    content: "";
    height: 50px;
    width: 5px;
    background-color: #18a3dd; }

.description__item-text {
  margin-top: 25px;
  color: #a9a9a9;
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.4px;
  line-height: 24px; }
  .description__item-text span {
    color: #18a3dd;
    font-family: "Lato";
    font-weight: 700; }

.features {
  padding-top: 67px;
  padding: 67px 20px 0 20px; }

.feature__items {
  margin: 73px auto 0 auto;
  display: flex;
  justify-content: space-between; }

.feature__item {
  max-width: 256px;
  width: 100%;
  height: 90px; }

.feature__items-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 63px 0 110px 0; }

.feature__item-title {
  color: #333740;
  font-family: Raleway;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative; }

.items-left .feature__item-title {
  text-align: right;
  padding-right: 27px; }
  .items-left .feature__item-title:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 35px;
    background-color: #18a3dd; }

.items-right .feature__item-title {
  text-align: left;
  padding-left: 27px; }
  .items-right .feature__item-title:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 35px;
    background-color: #18a3dd; }

.feature__item-text {
  margin-top: 30px;
  color: #5b5f64;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300; }

.real-man {
  padding: 120px 0;
  position: relative; }

.real-man__sliders-block {
  max-width: 760px;
  width: 100%;
  margin: 78px auto 0 auto;
  display: flex; }

.slider__photos {
  max-width: 555px;
  width: 100%;
  height: 400px; }

.slider__photos-item {
  outline: none;
  position: relative;
  height: 400px; }

.sider-photo {
  position: absolute;
  top: 0; }

.photo-after {
  top: 50px;
  left: 0;
  width: 262px;
  height: 300px; }

.photo-before {
  right: 0;
  width: 360px;
  height: 400px; }

.slider__info {
  max-width: 210px;
  width: 100%;
  position: relative; }

.slider__info-item {
  outline: none;
  height: 400px; }

.real-man__slider-arrow-left {
  position: absolute;
  top: 50%;
  cursor: pointer;
  left: -195px;
  transform: translateY(-50%); }

.real-man__slider-arrow-right {
  position: absolute;
  top: 50%;
  left: 889px;
  cursor: pointer;
  transform: translateY(-50%); }

.slider__info-block {
  margin: 121px 0 0 30px;
  max-width: 169px;
  width: 100%;
  height: 160px; }

.info-block__top-row {
  display: flex;
  justify-content: space-between; }

.info-block__column {
  display: flex;
  flex-direction: column; }

.info-block__weight {
  color: #333740;
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
  line-height: 30px; }
  .info-block__weight span {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase; }

.info-block__text {
  color: #18a3dd;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  margin-top: 15px; }

.info-block__name {
  color: #333740;
  text-transform: uppercase;
  font-family: "Raleway - Bold";
  font-weight: 700; }

.info-block__age {
  color: #333740;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: 300;
  line-height: 24px; }

.info-block__bottom-row {
  margin-top: 45px;
  border-left: 5px solid #18a3dd;
  padding-left: 21px; }

.real-man__sliders-dots {
  margin: 58px auto 0 auto;
  width: 83px; }

.slick-dots {
  display: flex;
  justify-content: space-between; }
  .slick-dots li {
    border-radius: 50%;
    font-size: 0;
    width: 13px;
    height: 13px;
    background-color: #d8e4e8;
    cursor: pointer; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    background-color: #18a3dd; }

.slider__photos-item-inner {
  width: 100%;
  height: 100%;
  position: relative; }

.testimonials {
  background-color: #0f0816;
  background-image: url("../img/testimonials-bg.png");
  height: 606px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px; }

.testimonials-slider {
  margin: 75px auto 0 auto;
  max-width: 735px;
  width: 100%; }

.testimonials__title {
  color: #e5e5e5; }
  .testimonials__title .left {
    color: #e5e5e5; }

.slider-item__testimonial {
  color: #a9a9a9;
  font-family: "Raleway - Light";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 735px;
  width: 100%;
  text-align: justify; }

.slider-item__bottom-line {
  display: flex;
  justify-content: center;
  margin: 32px auto 0 auto; }

.slider-item__photo {
  width: 65px;
  height: 73px;
  margin-right: 28px; }

.slider-item__name {
  margin-top: 7px;
  color: #e5e5e5;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase; }

.slider-item__location {
  font-family: "Raleway - Light";
  color: #a9a9a9;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  position: relative; }
  .slider-item__location::after {
    position: absolute;
    content: "";
    width: 36px;
    height: 5px;
    background-color: #18a3dd;
    top: 29px;
    left: 0;
    border-radius: 3px; }

.testimonials-slider__item {
  outline: none; }

.testimonials-slider__dots {
  width: 83px;
  margin: 047px auto 0 auto; }
  .testimonials-slider__dots li {
    background-color: #342e3a; }

.facts {
  padding: 120px 0 117px 0; }

.facts__table {
  padding: 0 15px 0 15px;
  max-width: 950px;
  margin: 74px auto 0 auto;
  display: flex; }

.ingredients__header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  border-bottom: 5px solid #333740; }

.ingredients__header-title {
  color: #333740;
  font-family: "Lato - Black";
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase; }

.ingredients__list {
  margin-top: 25px; }

.ingredients__header-text-one {
  color: #333740;
  font-family: "Lato - Black";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase; }

.ingredients_header-text-two {
  color: #333740;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase; }

.ingredients__left-collumn {
  min-width: 460px; }

.ingredients__list-item {
  display: flex;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  position: relative; }

.igridients__name {
  color: #333740;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  display: flex;
  align-items: center; }

.igridients__amount {
  color: #333740;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px; }

.ingredients__list-item-inner {
  display: none;
  position: absolute;
  top: -14px;
  left: -14px;
  padding: 0 15px 0 15px;
  height: 65px;
  width: 490px;
  border: 1px solid red;
  z-index: 20;
  background-color: white;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.24);
  border: 1px solid #d7d7d7; }

.ingredients__right-collumn {
  margin-left: 115px;
  max-width: 360px; }

.desc-list__item {
  display: none; }

.desc-list__block {
  padding-left: 30px;
  margin-top: 50px;
  border-left: 6px solid #18a3dd; }

.desc-list__name {
  color: #333740;
  font-family: Raleway;
  font-weight: 700;
  text-transform: uppercase; }

.desc-list__amount {
  color: #333740;
  font-family: "Lato Light";
  font-weight: 300;
  margin-top: 6px; }

.desc-list__text {
  margin-top: 30px;
  color: #404040;
  font-family: "Lato Light";
  font-weight: 300; }

.facts__table-button-wrapper {
  margin: 0 auto;
  max-width: 950px;
  width: 100%; }

.facts__table-button {
  max-width: 455px;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  background-color: #18a3dd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 40px;
  border-radius: 20px;
  color: #f1f1f1;
  font-size: 16px; }
  .facts__table-button .left {
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    font-family: "Lato - Bold";
    font-weight: 700; }
  .facts__table-button .rigth {
    font-family: "Lato Light";
    font-weight: 300; }

.sertification {
  padding: 80px 0 80px 0;
  background-color: #f1f4f5; }

.sertification__title {
  color: #333740;
  font-family: "Raleway - Extra Bold";
  font-size: 30px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase; }

.sertification__subtitle {
  margin-top: 26px;
  color: #83888f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center; }

.sertification__logotypes {
  margin: 47px auto 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1000px; }

.sertification__logotypes-item {
  height: 100px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #dcdcdc; }
  .sertification__logotypes-item:last-child {
    border-right: none; }

.supplement {
  height: 634px;
  padding-top: 120px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden; }

.supplement__block {
  position: absolute;
  top: 200px;
  right: 288px;
  width: 350px; }

.supplement__title {
  padding-left: 30px;
  color: #333740;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase; }

.supplement__title::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 40px;
  left: 0;
  top: 10px;
  background-color: #18a3dd; }

.supplement__cost {
  padding-left: 30px;
  color: #333740;
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px; }

.supplement__text {
  margin-top: 35px; }

.supplement__button {
  margin-top: 40px;
  width: 181px;
  height: 50px;
  background-color: #18a3dd;
  color: #f1f1f1;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px; }

.subscribe {
  height: 402px;
  background-image: url("../img/subscribe-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  padding: 100px 0 85px 0; }

.subscibe__title {
  color: #e5e5e5; }
  .subscibe__title .left {
    color: #e5e5e5; }

.subscribe__input-block {
  padding: 36px 32px;
  margin: 0 auto;
  max-width: 617px;
  width: 100%;
  height: 122px;
  display: flex; }

.subscribe__button {
  width: 150px;
  height: 50px;
  background-color: #18a3dd;
  cursor: pointer;
  outline: none;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }

.subscribe__input {
  max-width: 405px;
  width: 100%;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; }

.inquire {
  padding: 120px 0 120px 0; }

.inquire__form {
  max-width: 560px;
  width: 100%;
  margin: 75px auto 0 auto; }
  .inquire__form input,
  .inquire__form textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid #ebebeb; }

.inquire__form-top-row {
  display: flex;
  justify-content: space-between; }
  .inquire__form-top-row input {
    max-width: 261px;
    width: 100%;
    height: 28px; }

.inquire__form-middle-row {
  margin-top: 53px;
  position: relative; }
  .inquire__form-middle-row textarea {
    height: 152px;
    max-width: 100%;
    width: 100%;
    resize: none; }
  .inquire__form-middle-row:after {
    position: absolute;
    top: 20px;
    content: "";
    max-width: 556px;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    display: block;
    z-index: 9999; }

.inquire__button {
  width: 226px;
  height: 50px;
  background-color: #18a3dd;
  color: #f1f1f1;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  margin: 50px auto 0 auto; }

.footer {
  height: 155px;
  background-color: #f1f4f5;
  position: relative; }

.footer__left-block {
  position: absolute;
  left: 179px;
  top: 48px;
  color: #666666;
  font-family: Lato;
  font-size: 16px;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 0.5px;
  line-height: 20px; }

.footer__left-block-bottom-row {
  font-size: 14px;
  font-weight: 300;
  margin-top: 25px;
  display: flex;
  justify-content: space-between; }

.footer__link {
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid #d9d9d9;
  height: 15px;
  text-align: center; }
  .footer__link:last-child {
    padding-right: 0;
    border: none; }
  .footer__link:nth-child(1) {
    padding-left: 0; }

.footer__right-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 240px;
  position: absolute;
  right: 179px;
  top: 68px; }

@media (max-width: 1170px) {
  .header {
    background-position: top 299px right 10px; }
  .real-man__slider-arrow-right {
    position: absolute;
    top: 50%;
    left: 760px;
    cursor: pointer;
    transform: translateY(-50%); }
  .real-man__slider-arrow-left {
    position: absolute;
    top: 50%;
    left: -66px;
    cursor: pointer;
    transform: translateY(-50%); }
  .header__menu {
    flex-direction: column;
    width: 200px; } }

@media (max-width: 1024px) {
  .container {
    max-width: 800px; }
  .header {
    background-position: top 250px right -45px;
    background-size: 500px; }
  .header__block {
    max-width: 360px; }
  .header__title {
    font-size: 55px; }
  .header__title-block {
    padding-left: 25px; }
  .description__items {
    max-width: 531px; }
  .real-man {
    padding-top: 40px; }
  .real-man__slider-arrow-right {
    position: absolute;
    top: 460px;
    left: 525px;
    cursor: pointer;
    transform: translateY(-50%); }
  .real-man__slider-arrow-left {
    position: absolute;
    top: 460px;
    left: 165px;
    cursor: pointer;
    transform: translateY(-50%); }
  .ingredients__right-collumn {
    margin-left: 40px; }
  .supplement__image {
    position: absolute;
    left: -160px;
    top: 60px; }
  .supplement__block {
    position: absolute;
    top: 40px;
    right: 60px;
    width: 350px; }
  .footer__left-block {
    position: absolute;
    left: 100px;
    top: 48px; }
  .footer__right-block {
    right: 100px; }
  .footer__link {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #d9d9d9;
    height: 15px;
    text-align: center; } }

@media (max-width: 769px) {
  .header__top {
    padding: 0 40px 0 40px; }
  .menu__active {
    right: 100px !important; }
  .container {
    max-width: 680px; }
  .header {
    background-size: 440px;
    background-position: top 125px right -195px;
    min-height: 550px; }
  .header__title {
    font-size: 45px; }
  .header__block {
    margin-top: 100px;
    max-width: 300px; }
  .header__subtitle {
    font-size: 20px; }
  .header__block-text {
    margin-top: 26px; }
  .header__block-button {
    max-width: 140px;
    height: 50px;
    font-size: 16px; }
  .header__video-link {
    margin-left: 10px;
    font-size: 16px; }
  .facts {
    padding: 40px 0 40px 0; }
  .facts__table {
    margin-top: 20px;
    max-width: 650px;
    width: 100%; }
  .ingredients__list-item-inner {
    top: -5px;
    left: -20px;
    padding: 0 15px 0 15px;
    height: 50px;
    width: 340px; }
  .ingredients__left-collumn {
    min-width: 300px; }
  .ingredients__right-collumn {
    margin-left: 60px;
    width: 360px; }
  .ingredients__header {
    height: 50px; }
  .ingredients__header-title {
    font-size: 20px;
    padding-top: 5px; }
  .ingredients__list {
    margin-top: 15px; }
  .facts__table-button {
    margin: 0 auto; }
  .facts__table-button-wrapper {
    margin: 40px auto 0 auto;
    max-width: 768px; }
  .sertification {
    padding: 40px 0 40px 0;
    max-width: 750px;
    width: 100%; }
  .sertification__subtitle {
    margin-top: 15px; }
  .supplement {
    height: 520px; }
  .supplement__image {
    left: -250px;
    top: 100px;
    max-width: 600px;
    width: 100%; }
  .supplement__block {
    top: 30px;
    right: 20px;
    width: 350px; }
  .real-man__slider-arrow-right {
    left: auto;
    right: 0; }
  .real-man__slider-arrow-left {
    left: 0; }
  .real-man__sliders-block {
    margin: 78px auto 0 auto;
    display: flex; }
  .slider__photos {
    margin: 0 auto; }
  .slider__info {
    position: absolute; }
  .testimonials {
    padding-top: 40px; }
  .slider-item__testimonial {
    padding: 0 20px 0 20px; }
  .inquire {
    padding: 40px 0 40px 0; }
  .feature__items {
    margin-top: 30px;
    align-items: flex-start; }
  .feature__item {
    max-width: 220px;
    height: 180px; }
  .feature__item-title {
    font-size: 18px; }
  .feature__items-column {
    margin: 63px 0 0 0; }
  .items-right .feature__item-title {
    padding-left: 15px; }
  .items-left .feature__item-title {
    padding-right: 15px; }
  .feature__item-image {
    width: 230px;
    height: auto; }
  .description__items {
    max-width: 450px; }
  .footer__left-block {
    left: 50px;
    top: 20px; }
  .footer__left-block-bottom-row {
    margin-top: 20px; }
  .footer__right-block {
    height: 30px;
    width: 150px;
    right: 50px;
    top: 30px; }
  .footer {
    height: 100px; }
  .slider__info {
    position: absolute;
    max-width: 769px;
    top: 140px;
    left: 0;
    padding: 0 20px 0 20px; }
  .slider__info-block {
    display: flex;
    margin: 0;
    background-color: white;
    max-width: 400px;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    margin: 0 auto; }
  .info-block__top-row {
    display: flex;
    justify-content: space-between; }
  .info-block__bottom-row {
    margin-top: 0px;
    border-left: 5px solid #18a3dd;
    padding-left: 21px; }
  .info-block__text {
    margin-top: 0; }
  .sertification__logotypes-item img {
    width: 100%; } }

@media (max-width: 640px) {
  .description__items {
    max-width: 300px;
    right: 15px;
    z-index: 990;
    background-color: #0f0816; }
  .description__item-number {
    font-size: 30px;
    padding-left: 20px; }
  .description__item-number:after {
    top: 6px;
    left: 0;
    content: "";
    height: 40px;
    width: 5px; }
  .description__item-text {
    font-size: 12px;
    margin-top: 15px; }
  .footer {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__left-block {
    position: static; }
  .footer__right-block {
    padding: 0 20px 0 20px;
    position: static;
    margin-top: 20px;
    max-width: 320px;
    width: 100%; } }

@media (max-width: 520px) {
  .menu__active {
    top: 70px;
    right: 0px !important;
    width: 100%; }
  .header {
    background-size: 350px; }
  .feature__item-image {
    width: 170px;
    height: auto;
    margin-top: 87px; }
  .ingredients__left-collumn {
    min-width: 210px; }
  .ingredients__list-item-inner {
    height: 50px;
    width: 230px;
    left: -5px; }
  .ingredients__right-collumn {
    margin-left: 20px;
    max-width: 360px; }
  .ingredients__left-collumn {
    min-width: 210px; }
  .facts__table {
    padding: 0 10px 0 5px; }
  .facts__table-button {
    max-width: 305px; }
  .desc-list__block {
    padding-left: 10px;
    margin-top: 20px;
    border-left: 6px solid #18a3dd; }
  .desc-list__text {
    margin-top: 10px;
    font-size: 13px; }
  .ingredients__header-title {
    font-size: 13px; }
  .ingredients__header-text-one {
    font-size: 13px; }
  .ingredients_header-text-two {
    font-size: 13px; }
  .desc-list__name {
    font-size: 13px; } }

@media (max-width: 425px) {
  .header {
    padding: 0 10px 0 10px;
    background-size: 200px;
    background-position: top 120px right -86px;
    min-height: 400px; }
  .header__top {
    padding: 5px 10px 5px 10px;
    align-items: center; }
  .header__block {
    max-width: 410px;
    width: 100%; }
  .header__title-block {
    padding-left: 10px;
    max-width: 230px; }
  .header__title {
    font-size: 30px; }
  .header__subtitle {
    font-size: 15px; }
  .header__block-text {
    max-width: 230px; }
  .header__block-bottom {
    margin: 48px auto 0 auto;
    max-width: 300px; }
  .description {
    height: 350px; }
  .description__center-block {
    top: 0; }
  .description__items {
    max-width: 270px;
    right: 15px; }
  .description__item-number {
    font-size: 30px;
    padding-left: 20px; }
  .description__item-number:after {
    top: 6px;
    left: 0;
    content: "";
    height: 40px;
    width: 5px; }
  .description__item-text {
    font-size: 12px;
    margin-top: 15px; }
  .description__image {
    height: 300px;
    left: -90px; }
  .features {
    padding-top: 30px;
    overflow-x: hidden; }
  .feature__items {
    position: relative;
    height: 470px; }
  .feature__item {
    width: 170px;
    height: 110px; }
  .feature__item-text {
    margin-top: 30px;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 300; }
  .feature__item-title {
    font-size: 18px; }
  .feature__items-column {
    margin: 0; }
  .items-right {
    position: absolute;
    top: 227px;
    left: 0; }
    .items-right .feature__item-title {
      text-align: right;
      padding: 0 15px 0 0; }
    .items-right .feature__item-title:after {
      left: auto;
      top: 0;
      right: 0; }
  .feature__item-image {
    position: absolute;
    right: -205px;
    top: -37px;
    width: auto;
    margin: 0; }
  .supplement {
    height: 400px; }
  .real-man {
    padding: 40px 0; }
  .real-man__sliders-block {
    max-width: 425px;
    width: 100%; }
  .photo-after {
    top: 100px;
    left: -60px; }
  .photo-before {
    right: -100px; }
  .testimonials-slider {
    margin: 75px auto 0 auto;
    max-width: 410px; }
  .sertification__logotypes-item {
    height: 70px; }
    .sertification__logotypes-item img {
      max-width: 80px;
      width: 100%; }
  .supplement {
    height: 330px;
    padding-top: 0; }
  .supplement__image {
    left: -130px;
    max-width: 425px;
    width: 100%; }
  .supplement__block {
    top: 20px;
    right: 10px;
    width: 220px; }
  .supplement__title {
    font-size: 16px; }
  .supplement__cost {
    padding-left: 30px;
    font-size: 13px; }
  .supplement__text {
    margin-top: 5px; }
  .supplement__button {
    margin-top: 30px;
    width: 181px;
    height: 50px; }
  .subscribe__input-block {
    max-width: 410px; }
  .subscribe__input {
    max-width: 405px; }
  .inquire__form {
    max-width: 425px;
    padding: 0 10px 0 10px; } }

@media (max-width: 375px) {
  .header__block-text {
    max-width: 200px; }
  .ingredients__left-collumn {
    min-width: 190px; }
  .ingredients__list-item-inner {
    height: 50px;
    width: 210px;
    left: -5px; }
  .title {
    font-size: 25px; }
  .photo-after {
    left: -90px; }
  .slider__photos {
    margin: 30px auto; } }
